/* 5inline styles*/
#divJuego{
	text-align:center;
}
svg{
	-webkit-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
}
svg rect{
	fill: #51A63E;
	stroke: #314037;
	stroke-width:1;
}
.mega
{
	display: grid; grid-template-columns: 1fr 4fr;
	border: solid 1px orange;
	margin-top: -10px;
	width: 100%;

}
.content
{
	margin: 0% 0%;
	border: red solid 1px;
	text-align: center;
	background-color: #5B996A;
}
.top-page
{
	margin: 0% 0%;
	border: yellow 1px solid;
	text-align: center;
}
svg circle{
	fill: white;
	stroke: gray;
	stroke-width: 1;
	-webkit-box-shadow: 0px 0px 51px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 51px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 51px 4px rgba(0,0,0,0.75);
}

svg polygon{
	fill: white;
	stroke: gray;
	stroke-width: 1;
}

svg polygon:hover{
	cursor: pointer;
}

#pResultado{
	visibility: hidden;
}