#divJuego{
	text-align:center;
}
svg{
}
svg rect{
	fill: #51A63E;
	stroke: #314037;
	stroke-width:1;
}
.content
{
	margin: 0% 10%;
	border: red solid 1px;
	text-align: center;
	background-color: #5B996A;
}
.top-page
{
	margin: 0% 10%;
	border: yellow 1px solid;
	text-align: center;
}
svg circle{
	fill: white;
	stroke: black;
	stroke-width: 3;
}

svg polygon{
	fill: white;
	stroke: black;
	stroke-width: 2;
}

svg polygon:hover{
	cursor: pointer;
}

#pResultado{
	visibility: hidden;
}