/* 5inline styles*/

html 
{
	background-color: #1E414C;
}
#divJuego{
	text-align:center;
}
svg{
	-webkit-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
}
svg rect{
	fill: #51A63E;
	stroke: #314037;
	stroke-width:1;
	opacity: .7;
}
.mega
{
	display: grid; grid-template-columns: 1fr 4fr;
	margin: 1% 12.5%; 
	width: 70%;
	height: 90%;
	font-family: sans-serif;
	-webkit-box-shadow: 2px 4px 43px 15px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 4px 43px 15px rgba(0,0,0,0.75);
	box-shadow: 2px 4px 43px 15px rgba(0,0,0,0.75);
}
.content
{
	margin: 0% 0%;
	text-align: center;
	background-color: #5B996A;
}
.top-page
{
	margin: 0% 0%;
	text-align: center; color: #27A0C7;
	background-color: #4C351E;

}
svg circle{
	fill: white;
	stroke: gray;
	stroke-width: 1;
	-webkit-box-shadow: 0px 0px 51px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 51px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 51px 4px rgba(0,0,0,0.75);

}

svg polygon{
	fill: #EFF8FA;
	stroke: gray;
	stroke-width: 1;
}

svg polygon:hover{
	cursor: pointer;
}

#pResultado{
	visibility: hidden;
}